<div fxLayout fxLayoutAlign="center">
  <mat-card fxFlex="850px" class="mat-elevation-z15">
    <mat-card-header>
      <mat-toolbar color="primary" fxLayout fxLayoutAlign="space-between center">
        <div fxLayout fxLayoutAlign="start center" fxFlex>
          <h5>Monumento</h5>
        </div>
        <button mat-mini-fab matTooltip="AGREGAR MONUMENTO" (click)="nuevo()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-toolbar>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="monumentos">
        <ng-container matColumnDef="titulo">
          <th mat-header-cell *matHeaderCellDef>Titulo</th>
          <td mat-cell *matCellDef="let fila">
            {{fila.titulo}}
          </td>
        </ng-container>
        <ng-container matColumnDef="anio">
          <th mat-header-cell *matHeaderCellDef>Año</th>
          <td mat-cell *matCellDef="let fila">
            {{fila.anio}}
          </td>
        </ng-container>
        <ng-container matColumnDef="lugar">
          <th mat-header-cell *matHeaderCellDef>Lugar</th>
          <td mat-cell *matCellDef="let fila">
            {{fila.lugar}}
          </td>
        </ng-container>
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let elem">
            <button mat-icon-button color="warn" (click)="$event.stopPropagation();eliminar(elem.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnasAMostrar"></tr>
        <tr mat-row *matRowDef="let elem; columns: columnasAMostrar" (click)="editar(elem)">
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
