mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  min-height: 100vh
}

mat-sidenav {
  width:250px;
}

h6 {
  width: 100%;
  padding: 10px 20px;
  text-transform: uppercase;
  background-color: #808080;
  color: black;
  font-size:12px;
  margin:0
}

span {
  display: inline-block;
  margin-left: 8px;
}

mat-toolbar {
  margin-bottom: 30px;
}