
    <div class="contenedor" fxLayout fxLayoutAlign="center center">
        <mat-card color="primary" fxFlex.lt-sm="300px" fxFlex="400px">
            <mat-card-header>
                <mat-card-title>Inicia sesión</mat-card-title>
            </mat-card-header>
            <form (ngSubmit)="login()" [formGroup]="grupo">
                <mat-card-content fxLayout="column">
                    <mat-form-field>
                      <input type="text" placeholder="Correo electrónico" formControlName="correo" name="correo" required matInput>
                      <mat-error *ngIf="grupo.get('correo').hasError('required') && grupo.get('correo').touched">
                        El correo es requerido
                      </mat-error>
                      <mat-error *ngIf="grupo.get('correo').hasError('email') && grupo.get('correo').touched">
                        Debe tener formato de correo
                      </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                      <input type="password" placeholder="Contraseña" name="contrasena" formControlName="contrasena" required
                        matInput>
                      <mat-error *ngIf="grupo.get('contrasena').hasError('required') && grupo.get('contrasena').touched">
                        La contraseña es requerida
                      </mat-error>
                    </mat-form-field>

                    <mat-card-actions >
                      <div class="espaciobtn" fxLayout="column"  fxLayoutAlign="space-around stretch">
                        <button mat-raised-button color="primary" [disabled]="grupo.invalid">
                          <mat-icon>cloud</mat-icon>
                          Inicia sesión
                        </button>
                      </div>
                      
                      <div fxLayout="column"  fxLayoutAlign="space-around stretch">
                        <button  color="warn" mat-raised-button (click)="loginGoogle()">
                            <mat-icon>security</mat-icon>
                            Iniciar sesión con Google 
                        </button>
                      </div>
                    </mat-card-actions>             
                </mat-card-content>
              </form>
        </mat-card>    
    </div>    
 